<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do: {{ .Task }}</title>
    <link rel="stylesheet" href="/static/css/edit.css">
</head>

<body>
    <div class="container">
        <h1>Edit To-Do</h1>
        <form action="/todo/update/{{ .Id }}" method="POST" class="todo-form">

            <div class="form-group">
                <label for="task">Task:</label>
                <input type="text" name="task" placeholder="Edit the task..." value="{{ .Task }}">
            </div>

            <fieldset class="radio-group">
                <legend>Status:</legend>

                {{$pending := "Pending"}}
                {{$progress := "In Progress"}}
                {{$completed := "Completed"}}
                <div>
                    <input type="radio" id="pending" name="status" value="pending" {{ if eq .Status $pending }}checked{{ end }} />
                    <label for="pending">Pending</label>
                </div>

                <div>
                    <input type="radio" id="in_progress" name="status" value="in progress"  {{ if eq .Status $progress }}checked{{ end }}/>                    
                    <label for="in_progress">In Progress</label>
                </div>

                <div>
                    <input type="radio" id="completed" name="status" value="completed"  {{ if eq .Status $completed }}checked{{ end }}/>
                    <label for="completed">Completed</label>
                </div>
            </fieldset>
            <input type="submit" value="Save">

        </form>

    </div>
</body>

</html>