<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <link rel="stylesheet" href="/static/css/view.css">
</head>

<body>
    <div class="container">
        <h1>To-Do List</h1>

        <form class="todo-form" hx-post="/todo/create" hx-target=".todo-list" hx-swap="beforeend">
            <input type="text" name="task" placeholder="Add a new task..." required>
            <input type="submit" value="Add Task">
        </form>

        <ul class="todo-list">
            {{range .Items}}
            <li id="todo-item-{{ .Id }}" class="tod0-item">
                <div class="task">{{.Task}}</div>

                {{ if eq .Status "Pending" }}
                <div class="status" style="background-color: #f0ac00;">{{.Status}}</div>
                {{ end }}

                {{ if eq .Status "In Progress"}}
                <div class="status" style="background-color:  #1976D2;">{{.Status}}</div>
                {{ end }}

                {{ if eq .Status "Completed" }}
                <div class="status" style="background-color: #388E3C;">{{.Status}}</div>
                {{ end }}

                <div>
                    <a href="/todo/edit/{{ .Id }}">✏️</a>
                    <button hx-delete="/todo/delete/{{ .Id }}" hx-target="#todo-item-{{ .Id }}" hx-swap="outerHTML">❌</button>
                </div>
            </li>
           
            {{end}}
        </ul>
    </div>
</body>

</html>